# @package _global_

defaults:
  - override /model: {{ model_name }}
  - override /data: boli_ctx

data:
  datapath: {{ h5ad_path }}
  covariate_keys: ["{{ covariate_key }}"]
  perturbation_key: {{ perturbation_key }}
  perturbation_combination_delimiter: +
  perturbation_control_value: {{ control_value }}
  evaluation:
    split_value_to_evaluate: test
  splitter:
    split_path: {{ csv_path }}

# output directory, generated dynamically on each run
hydra:
  run:
    dir: ./${hydra:runtime.choices.model}
  sweep:
    dir: .
    subdir: ${hydra:runtime.choices.model}