PATH_add bin
# # optional: auto-activate venv/conda here
# # layout python       # (direnv’s venv)
# # or: source .venv/bin/activate

eval "$("$HOME/miniforge3/bin/conda" shell.bash hook)" 
conda activate "$HOME/miniforge3/envs/perturbench"

# Set project root to the directory where this .envrc lives
export PROJECT_ROOT="$(pwd)"

# Update PS1 to include the active conda environment
if [ -z "${VIRTUAL_ENV_PROMPT:-}" ] && [ -n "${CONDA_DEFAULT_ENV}" ]; then
    VIRTUAL_ENV_PROMPT=$(basename "${CONDA_DEFAULT_ENV}")
fi
export VIRTUAL_ENV_PROMPT

# root() {
#   cd "$PROJECT_ROOT"
# }