# PATH_add bin
# # optional: auto-activate venv/conda here
# # layout python       # (direnv’s venv)
# # or: source .venv/bin/activate

# eval "$("$HOME/miniforge3/bin/conda" shell.bash hook)" 
# conda activate perturbench