PATH_add bin
# # optional: auto-activate venv/conda here
# # layout python       # (direnv’s venv)
# # or: source .venv/bin/activate

eval "$("$HOME/miniforge3/bin/conda" shell.bash hook)" 
conda activate "$HOME/miniforge3/envs/perturbench"

# # Set project root to the directory where this .envrc lives
# PROJECT_ROOT="$(pwd)"

# root() {
#   cd "$PROJECT_ROOT"
# }