*.h5ad

# dataset specific ignores
0_datasets/boli/
0_datasets/clean/
0_datasets/replogle/
0_datasets/simulated/
0_datasets/simulated_2/
0_datasets/test/

1_train/initial_splits/
1_train/logs/
1_train/outputs/