# Project specific ignores
**/boli/
**/clean/
**/replogle/
**/simulated/
**/simulated_2/
**/test/

**/initial_splits/
**/logs/
**/outputs/

**/boli_100225/
**/boli_251006_1/
**/boli_251006_2/
**/boli_251006_3/
**/boli_251006_4/
**/boli_251006_5/
**/replogle_251008_1/
**/replogle_251008_2/
**/replogle_251008_3/
**/replogle_251008_4/
**/replogle_251008_5/

src/experiment
src/perturbench/
logs/
debug/
2_predict/logs/
**/toml/
**/outputs/
**/conf/testing_toml.yaml

# Jupyter Notebook
**/.ipynb_checkpoints/

# Data repositories
**/output/
**/raw_data/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Datafiles
*.csv
*.Robj
*.tsv
*.gz
*.csv
*.h5
*.stats.*
*.h5ad

# Output Files
*.png
*.log

# Bioinfo datafiles
*.sam
*.fa
*.bt2
*.out*
*.fq*
*.gtf
*.bam*
*.bed

# Bioinfo reference databases
**/star/