# @package _global_

# specify here default configuration
# order of defaults determines the order in which configs override each other
defaults:
  - _self_
  - hydra: splitter
  # experiment configs allow for version control of specific hyperparameters
  # e.g. best hyperparameters for given model and datamodule

  - experiment: null

# # Provide checkpoint path to pretrained model
# ckpt_path: /gpfs/home/asun/jin_lab/perturbench/1_train/logs/train/runs/2025-09-26_11-01-16_boli_linear_baseline/checkpoints/epoch=9-step=3690.ckpt

# task name, determines output directory path
task_name: "storm"

dataset:
  name: test

adata:
  input_path: /gpfs/group/jin/skim/STATE/state/test_boli_NTsubset/processed_data/Boli_Perturb_CTX_edit_NTsubset_hvg.h5ad

perturbations:
  randomize: False
  remove: ["Xpo7_0", "Rb1cc1_0", "Satb2_0", "Cx3cl1_0", "Cul1_0", "Tbr1_0"]
  key: Assign
  control_value: NT_0

covariates:
  names: ["predicted.subclass"]

splitter:
  seed: 1
  max_heldout_fraction_per_covariate: 0.6
  max_heldout_covariates: 3

output:
  main_dir: outputs/${dataset.name}/${task_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
  #/gpfs/home/asun/jin_lab/perturbench/0_datasets/

manual_control: True

note: |
  Testing removal of cells without training controls. 
  
# # Path to prediction dataframe (generate with notebooks/demos/generate_prediction_dataframe)
# prediction_dataframe_path: /gpfs/home/asun/jin_lab/perturbench/0_datasets/linear/prediction_dataframe.csv

# # seed for random number generators in pytorch, numpy and python.random
# seed: null

# # Path to save predictions
# output_path: "${paths.output_dir}/predictions/"

# # Number of perturbations to generate in memory at once
# chunk_size: 50