# @package _global_

# specify here default configuration
# order of defaults determines the order in which configs override each other
defaults:
  - data: boli
  - hydra: splitter
  - splitter: subclass
  # experiment configs allow for version control of specific hyperparameters
  # e.g. best hyperparameters for given model and datamodule
  - experiment: null
  - _self_

# # Provide checkpoint path to pretrained model
# ckpt_path: /gpfs/home/asun/jin_lab/perturbench/1_train/logs/train/runs/2025-09-26_11-01-16_boli_linear_baseline/checkpoints/epoch=9-step=3690.ckpt

# task name, determines output directory path
task_name: "storm"

# perturbations:
#   randomize: False
#   remove: ["Xpo7_0", "Rb1cc1_0", "Satb2_0", "Cx3cl1_0", "Cul1_0", "Tbr1_0"]
#   key: Assign
#   control_value: NT_0

output:
  main_dir: /gpfs/home/asun/jin_lab/perturbench/studies/storm/outputs/${data.name}

models: ["perturbench", "state"]

scale:
  enabled: False
  base_fractions: [1.0, 0.6, 0.2]
  
note: |
  Testing state only file update, trying to only update state sbatch scripts to fit the new override.

# # Path to prediction dataframe (generate with notebooks/demos/generate_prediction_dataframe)
# prediction_dataframe_path: /gpfs/home/asun/jin_lab/perturbench/0_datasets/linear/prediction_dataframe.csv

# # seed for random number generators in pytorch, numpy and python.random
# seed: null

# # Path to save predictions
# output_path: "${paths.output_dir}/predictions/"

# # Number of perturbations to generate in memory at once
# chunk_size: 50