# @package _global_

# specify here default configuration
# order of defaults determines the order in which configs override each other
defaults:
  - _self_
  - hydra: splitter
  - splitter: subclass
  # experiment configs allow for version control of specific hyperparameters
  # e.g. best hyperparameters for given model and datamodule

  - experiment: null

# # Provide checkpoint path to pretrained model
# ckpt_path: /gpfs/home/asun/jin_lab/perturbench/1_train/logs/train/runs/2025-09-26_11-01-16_boli_linear_baseline/checkpoints/epoch=9-step=3690.ckpt

# task name, determines output directory path
task_name: "storm"

dataset:
  name: test

adata:
  input_path: /gpfs/home/asun/jin_lab/perturbench/raw_data/boli_perturb_ctx_edit_ntsubset_hvg/adata.h5ad

perturbations:
  randomize: False
  remove: ["Xpo7_0", "Rb1cc1_0", "Satb2_0", "Cx3cl1_0", "Cul1_0", "Tbr1_0"]
  key: Assign
  control_value: NT_0

covariates:
  names: ["predicted.subclass"]

output:
  main_dir: /gpfs/home/asun/jin_lab/perturbench/studies/storm/outputs/${dataset.name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
  #/gpfs/home/asun/jin_lab/perturbench/0_datasets/

scale:
  enabled: False
  base_fractions: [1.0, 0.6, 0.2]
note: |
  Testing to see if refactored splitter.py works as intended and whether I can set a split from a state toml file.

# # Path to prediction dataframe (generate with notebooks/demos/generate_prediction_dataframe)
# prediction_dataframe_path: /gpfs/home/asun/jin_lab/perturbench/0_datasets/linear/prediction_dataframe.csv

# # seed for random number generators in pytorch, numpy and python.random
# seed: null

# # Path to save predictions
# output_path: "${paths.output_dir}/predictions/"

# # Number of perturbations to generate in memory at once
# chunk_size: 50