# @package _global_

# specify here default configuration
# order of defaults determines the order in which configs override each other
defaults:
  - _self_
  
  # experiment configs allow for version control of specific hyperparameters
  # e.g. best hyperparameters for given model and datamodule
  - experiment: null

# # Provide checkpoint path to pretrained model
# ckpt_path: /gpfs/home/asun/jin_lab/perturbench/1_train/logs/train/runs/2025-09-26_11-01-16_boli_linear_baseline/checkpoints/epoch=9-step=3690.ckpt

# # task name, determines output directory path
# task_name: "predict"

# # Path to prediction dataframe (generate with notebooks/demos/generate_prediction_dataframe)
# prediction_dataframe_path: /gpfs/home/asun/jin_lab/perturbench/0_datasets/linear/prediction_dataframe.csv

# # seed for random number generators in pytorch, numpy and python.random
# seed: null

# # Path to save predictions
# output_path: "${paths.output_dir}/predictions/"

# # Number of perturbations to generate in memory at once
# chunk_size: 50