#!/bin/bash
#SBATCH --time=72:00:00     # walltime
#SBATCH --cpus-per-task=16  # number of cores
#SBATCH --mem=128G   # memory per CPU core
#SBATCH --partition=alphafold
#SBATCH --gpus=1

apptainer run --nv \
  --bind /gpfs/home/asun:/gpfs/home/asun \
  --bind /gpfs/group/jin:/gpfs/group/jin \
  /tmp/applications/state/0.9.14/bin/state.sif \
      tx train \
      data.kwargs.toml_config_path={{ toml_config_path }} \
      data.kwargs.embed_key="X_hvg" \
      data.kwargs.num_workers=12 \
      data.kwargs.batch_col="Sample" \
      data.kwargs.pert_col={{ perturbation_key }} \
      data.kwargs.cell_type_key={{ covariate_key }} \
      data.kwargs.control_pert={{ control_value }} \
      training.max_steps=5000 \
      training.val_freq=100 \
      training.ckpt_every_n_steps=100 \
      training.batch_size=8 \
      training.lr=1e-4 \
      model.kwargs.cell_set_len=64 \
      model.kwargs.hidden_dim=328 \
      model=pertsets \
      model.kwargs.batch_encoder=True \
      wandb.tags={{ dataset_name }} \
      wandb.entity="asunboi-scripps-research" \
      output_dir={{ output_dir }} \
      name={{ state_dir }}

apptainer run --nv \
  --bind /gpfs/home/asun:/gpfs/home/asun \
  --bind /gpfs/group/jin:/gpfs/group/jin \
  --bind /gpfs/home/asun/containers/state_sandbox/root/.local/share/uv/tools/arc-state/lib/python3.10/site-packages/state/_cli/_tx/_predict.py:/root/.local/share/uv/tools/arc-state/lib/python3.10/site-packages/state/_cli/_tx/_predict.py \
  /tmp/applications/state/0.9.14/bin/state.sif \
      tx predict \
      --output_dir {{ output_dir }}/{{ state_dir }} \
      --checkpoint "final.ckpt" \
      --predict_only